{% extends "admin/base_site.html" %}

{% block content %}
    {% include 'base_menu.html' %}

  <div class="module">
    <h1>Auditoría de Movimientos</h1>

    <!-- Formulario de filtros -->
    <form method="GET" action="" class="form-inline">
      <div class="form-row">
        <div class="field-box">
          <label for="fecha_inicio">Fecha Inicio:</label>
          <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio|date:'Y-m-d' }}" class="vDateField">
        </div>
        <div class="field-box">
          <label for="fecha_fin">Fecha Fin:</label>
          <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin|date:'Y-m-d' }}" class="vDateField">
        </div>
        <div class="field-box">
          <label for="tipo_movimiento">Tipo Movimiento:</label>
          <input type="text" id="tipo_movimiento" name="tipo_movimiento" value="{{ tipo_movimiento }}" class="form-control">
        </div>
        <div class="field-box">
          <label for="usuario">Usuario:</label>
          <select id="usuario" name="usuario" class="form-control">
            <option value="">-- Seleccionar Usuario --</option>
            {% for usuario in usuarios %}
              <option value="{{ usuario.username }}" {% if usuario_username == usuario.username %}selected{% endif %}>
                {{ usuario.username }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <!-- Tabla de movimientos -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Tipo Movimiento</th>
                <th>Descripción</th>
                <th>Usuario</th>  <!-- Añadir columna de usuario -->
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha_movimiento|date:"d/m/Y H:i" }}</td>
                <td>{{ movimiento.cliente.nombre }}</td>
                <td>{{ movimiento.tipo_movimiento }}</td>
                <td>{{ movimiento.descripcion }}</td>
                <td>{{ movimiento.usuario.username }}</td> <!-- Mostrar el nombre del usuario -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No se encontraron movimientos en el rango de fechas seleccionado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
