{% extends "admin/base_site.html" %}

{% block content %}
  <div class="module">
    <h1>Cuadre de Caja - {{ fecha }}</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Método de Pago</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos_por_metodo %}
            <tr>
                <td>{{ pago.metodo_pago }}</td>
                <td>${{ pago.total|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No se registraron pagos hoy.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total del día: ${{ total_dia|floatformat:2 }}</h3>
  </div>
{% endblock %}
