{% extends "admin/base_site.html" %}

{% block content %}
    {% include 'base_menu.html' %}
<h1>Caja Diaria</h1>

<form method="get">
    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}">

    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}">

    <button type="submit">Filtrar</button>
</form>

<h2>Ventas</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
    </tr>
    {% for venta in ventas %}
    <tr>
        <td>{{ venta.id }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.fecha_reserva|date:"Y-m-d" }}</td>
        <td>{{ venta.total }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay ventas en este rango de fechas.</td>
    </tr>
    {% endfor %}
</table>
<p>Total Ventas: {{ total_ventas }}</p>

<h2>Pagos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Venta</th>
        <th>Fecha</th>
        <th>Monto</th>
    </tr>
    {% for pago in pagos %}
    <tr>
        <td>{{ pago.id }}</td>
        <td>{{ pago.venta_reserva }}</td>
        <td>{{ pago.fecha|date:"Y-m-d" }}</td>
        <td>{{ pago.monto }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay pagos en este rango de fechas.</td>
    </tr>
    {% endfor %}
</table>
<p>Total Pagos: {{ total_pagos }}</p>
{% endblock %}