{% extends "admin/base_site.html" %}

{% block content %}
  <div class="module">
    <h1>Servicios Vendidos</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th># Venta Reserva</th>
                <th>Nombre Cliente</th>
                <th>Categoría Servicio</th>
                <th>Monto por Persona</th>
                <th>Cantidad de Pasajeros</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.venta_reserva_id }}</td>
                <td>{{ servicio.cliente_nombre }}</td>
                <td>{{ servicio.categoria_servicio }}</td>
                <td>{{ servicio.monto }}</td>
                <td>{{ servicio.cantidad_personas }}</td>
                <td>{{ servicio.total_monto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
