{% extends "admin/base_site.html" %}

{% block content %}
    {% include 'base_menu.html' %}

  <div class="container" style="text-align: center; margin-top: 50px;">
    <h1>Inicio del Sistema</h1>
    <p>Bienvenido al sistema de gestión de ventas. Aquí puedes acceder a las principales funcionalidades:</p>

    <!-- Primera fila -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Ventas y Reservas</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_ventareserva_add' %}" class="btn btn-primary btn-block my-2">Agregar Venta/Reserva</a></li>
          <li><a href="{% url 'admin:ventas_ventareserva_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Ventas/Reservas</a></li>
          <li><a href="{% url 'caja_diaria' %}" class="btn btn-secondary btn-block my-2">Cuadre de Caja Diario</a></li>
          <li><a href="{% url 'auditoria_movimientos' %}" class="btn btn-secondary btn-block my-2">Auditoría de Movimientos</a></li>
          <li><a href="{% url 'servicios_vendidos' %}" class="btn btn-secondary btn-block my-2">Servicios Vendidos</a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Clientes</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_cliente_add' %}" class="btn btn-primary btn-block my-2">Agregar Cliente</a></li>
          <li><a href="{% url 'admin:ventas_cliente_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Clientes</a></li>
        </ul>
      </div>
    </div>

    <!-- Segunda fila -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Productos</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_producto_add' %}" class="btn btn-primary btn-block my-2">Agregar Producto</a></li>
          <li><a href="{% url 'admin:ventas_producto_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Productos</a></li>
          <li><a href="{% url 'admin:ventas_categoriaproducto_changelist' %}" class="btn btn-secondary btn-block my-2">Categorías de Productos</a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Servicios</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_servicio_add' %}" class="btn btn-primary btn-block my-2">Agregar Servicio</a></li>
          <li><a href="{% url 'admin:ventas_servicio_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Servicios</a></li>
          <li><a href="{% url 'admin:ventas_categoriaservicio_changelist' %}" class="btn btn-secondary btn-block my-2">Categorías de Servicios</a></li>
        </ul>
      </div>
    </div>

    <!-- Tercera fila -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Pagos</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_pago_add' %}" class="btn btn-primary btn-block my-2">Registrar Pago</a></li>
          <li><a href="{% url 'admin:ventas_pago_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Pagos</a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 my-3">
        <h2>Gestión de Proveedores</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'admin:ventas_proveedor_add' %}" class="btn btn-primary btn-block my-2">Agregar Proveedor</a></li>
          <li><a href="{% url 'admin:ventas_proveedor_changelist' %}" class="btn btn-secondary btn-block my-2">Ver Proveedores</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
